{
  "presets": [
    [
      "@babel/preset-env",
      {
        "modules": false,
        "corejs": "3.12",
        "useBuiltIns": "entry"
      }
    ]
  ],
  "plugins": [
    [
      "@babel/transform-runtime",
      {
        "regenerator": true
      }
    ]
  ]
}
