{% set footer_top_attributes = create_attribute() %}

<div{{ footer_top_attributes.addClass("grid md:grid-cols-3 items-start justify-items-center") }}>
  {{ content }}
  <a href="#">{{ "Ⓒ 2025 Code and Roast. All rights reserved"|t }}</a>
</div>
